@model IEnumerable<Review_Site.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            Title
        </th>
        <th>
            Colour
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID })
            @if(!item.IsSystemCategory){
                @: | 
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            }
        </td>
    </tr>
}

@if (!Model.Any())
{
    <tr>
        <td colspan="3" style="text-align: center"><strong>There is nothing here.</strong></td>
    </tr>
}

</table>
