@model IEnumerable<Review_Site.Data.Models.GridElement>

@{
    ViewBag.Title = "Grid Elements";
}

<h2>Grid Elements@(!String.IsNullOrEmpty(ViewBag.GridName) ? " from Grid \"" + ViewBag.GridName + "\"": "")</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            Article
        </th>
        <th>
            Colour
        </th>
        <th>
            Grid
        </th>
        <th>
            Size
        </th>
        <th>
            HeadingClass
        </th>
        <th>
            InverseHeading
        </th>
        <th>
            Width
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Article.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorderColor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grid.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeadingClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InverseHeading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

@if (!Model.Any())
{
    <tr>
        <td colspan="8" style="text-align: center"><strong>There is nothing here.</strong></td>
    </tr>
}

</table>
