@model IEnumerable<Review_Site.Models.Grid>

@{
    ViewBag.Title = "Grids";
}

<h2>Grids</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("View All Grid Elements", "Index", "GridElement")
</p>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            Name
        </th>
        <th>
            Alias
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

@if (!Model.Any())
{
    <tr>
        <td colspan="3" style="text-align: center"><strong>There is nothing here.</strong></td>
    </tr>
}

</table>
