@model Review_Site.Models.Article

@{
    ViewBag.Title = "Edit Article";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>

<h2>Edit Article</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Created)
        @Html.HiddenFor(model => model.AuthorID)
        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryID, "Article Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShortDescription, "Short Description of Article (no more than 150 characters!)")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ShortDescription, new { maxlength = "150", rows="3", cols="60" })
            @Html.ValidationMessageFor(model => model.ShortDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text, "Article Contents:")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text, new { @class = "adminEditor" })
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        <p>
            <input type="submit" class="btn btn-primary" value="Save Changes" />
        </p>
    </fieldset>
}

<script>
    CKEDITOR.replace('Text', {
        filebrowserBrowseUrl: '@Url.Action("CKEditorBrowser", "Resource", new { area = "Admin" })',
        filebrowserImageBrowseUrl: '@Url.Action("CKEditorBrowser", "Resource", new { area = "Admin" })',
        filebrowserWindowWidth: 800,
        filebrowserWindowHeight: 500
    });
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
