@model IEnumerable<Review_Site.Models.Article>

@{
    ViewBag.Title = "Articles";
}

<h2>Articles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            Title
        </th>
        <th>
            Category
        </th>
        <th>
            User
        </th>
        <th>
            Created
        </th>
        <th>
            Last Modified
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName) (@Html.DisplayFor(modelItem => item.User.Username)) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("View", "GetArticle", new { controller = "Home", area = "", id = item.ID }, new { target = "_blank" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

@if (!Model.Any())
{
    <tr>
        <td colspan="6" style="text-align: center"><strong>There is nothing here.</strong></td>
    </tr>
}

</table>