@model Review_Site.Data.Models.Article
@{
    ViewBag.Title = Model.Title;
    if (Model.Category != null)
    {
        ViewBag.ImageBorderColor = Model.Category.Color.Value;
    }
}
<div class="row">
    <h1 class="article-title">@Model.Title <small>by @Model.Author.FullName</small></h1>
</div>
<div class="row">
    <div class="large-8 columns">
        <div class="article">
            <p class="article-info">
                Published at @Model.Created.ToString("hh:mm dd-MM-yyyy")@if (Model.LastModified != null && Model.LastModified.Value != Model.Created)
                {<text>, last edited at @Model.LastModified.Value.ToString("hh:mm dd/MM/yyyy")</text>
                }
            </p>
            <div class="article-content">
                @Html.Raw(Model.Text)
            </div>
        </div>
    </div>
    <div class="large-4 columns">
        @Html.Partial("_Sidebar")
    </div>
</div>
