@model Review_Site.Data.Models.Article
@{
    ViewBag.Title = Model.Title;
    if(Model.Category != null) {
        ViewBag.ImageBorderColor = Model.Category.Color.Value;
    }
}
<div class="row">
    <div class="span8">
        <h1 class="article-title">@Model.Title</h1>
        <div class="article">
            <p class="article-info">
                Written by @Model.Author.FullName on the @Model.Created.ToString("dd/MM/yyyy")
                at @Model.Created.ToShortTimeString()</p>
            @{
                if (Model.LastModified.Value != Model.Created)
                {
                <p class="article-info" style="top: 20px">
                    Edited on the @Model.LastModified.Value.ToString("dd/MM/yyyy") at @Model.LastModified.Value.ToShortTimeString()</p>
                }
            }
            <div class="article-content">
                @Html.Raw(Model.Text)
            </div>
        </div>
    </div>
    <div class="span4">
        @Html.Partial("_Sidebar")
    </div>
</div>