@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    @{
        if(ViewBag.Title != null){    
            <title>theREVIEW &bull; @ViewBag.Title</title>
        }else{
            <title>theREVIEW</title>
        }
    }
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/Favicon.ico")" />
    @if (ConfigurationManager.AppSettings["meta-keywords"] != null){
        <meta name="keywords" content="@ConfigurationManager.AppSettings["meta-keywords"]" />
    }
    @if (ConfigurationManager.AppSettings["meta-description"] != null){
        <meta name="description" content="@ConfigurationManager.AppSettings["meta-description"]" />
    }
    @Html.Partial("_AnalyticsJS")
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    @if (ViewBag.ImageBorderColor != null)
    {    
        <style type="text/css">
            .article-content img{
                border: 6px solid #@ViewBag.ImageBorderColor;
            }
        </style>
    }
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="@Url.Action("GetTag", "Core", new { area = "", id = "Edition-1" })">Edition 1</a></li>
                    <li><a href="@Url.Action("GetTag", "Core", new { area = "", id = "Edition-2" })">Edition 2</a></li>
                    <li><a href="@Url.Action("GetTag", "Core", new { area = "", id = "Edition-3" })">Edition 3</a></li>
                    <li><a href="@Url.Action("GetTag", "Core", new { area = "", id = "Edition-4" })">Edition 4</a></li>
                    <li><a href="@Url.Action("GetTag", "Core", new { area = "", id = "Edition-5" })">Edition 5</a></li>
                    <li><a href="@Url.Action("GetTag", "Core", new { area = "", id = "Edition-6" })">Edition 6</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span12 header"><a href="@Url.Action("Index", "Core", new { area = "" })"><h1><span style="color: #C4BC96;">the</span>REVIEW</h1><h2>| A Sixth Form Publication</h2></a></div>
        </div>
        <div class="row">
            <div class="span12 menu">
                <ul>
                    <li style="color: #948A54;"><a href="@Url.Action("Index", "Core", new { area = "" })">Home</a></li>
                    <li class="separator">|</li>
                    <li style="color: #F3B32B;"><a href="@Url.Action("GetCategory", new { Controller="Core", area="", id="World-News" })">World News</a></li>
                    <li class="separator">|</li>
                    <li style="color: #DA9349;"><a href="@Url.Action("GetCategory", new { Controller="Core", area="", id="Student-News" })">Student News</a></li>
                    <li class="separator">|</li>
                    <li style="color: #8AA359;"><a href="@Url.Action("GetCategory", new { Controller="Core", area="", id="Science/Tech" })">Science/Tech</a></li>
                    <li class="separator">|</li>
                    <li style="color: #0B76C2;"><a href="@Url.Action("GetCategory", new { Controller="Core", area="", id="Media" })">Media</a></li>
                    <li class="separator">|</li>
                    <li style="color: #FF5250;"><a href="@Url.Action("GetCategory", new { Controller="Core", area="", id="Sport" })">Sport</a></li>
                    <li class="separator">|</li>
                    <li style="color: #FF36FF;"><a href="@Url.Action("GetCategory", new { Controller="Core", area="", id="Fashion" })">Fashion</a></li>
                    <li class="separator">|</li>
                    <li style="color: #A11CFF;"><a href="@Url.Action("GetCategory", new { Controller="Core", area="", id="Creative" })">Creative</a></li>
                    <li class="separator">|</li>
                    <li><a href="@Url.Action("GetCategory", new { Controller="Core", area="", id="Misc" })">Misc</a></li>
                    <li class="separator">|</li>
                    <li><a href="@Url.Action("About", new { Controller="Core", area="" })">About Us</a></li>
                </ul>
            </div>
        </div>
            @RenderBody()
        <hr />
        <footer>
            <div class="pull-right footerRightText">
            <p><a href="@Url.Action("Contact", "Core", new { area="" })">Contact Us</a></p>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <p>
                        Logged in as @User.Identity.Name (@Html.ActionLink("Site Admin", "Index", new { controller = "Admin", area = "Admin" }) | 
                        @Html.ActionLink("Logout", "LogOut", new { controller = "Account" }))
                    </p>
                }
            }
            </div>
@*            <ul>
                <li class="header">Menu</li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <ul>
                <li class="header">Menu</li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>*@
            <p>This website and the articles published on it are purely the work of theREVIEW,<br />
                which consists of sixth form students from <a href="http://www.williamhoward.cumbria.sch.uk" target="_blank">William Howard School</a></p>
            <p style="font-size: 10px;">Disclaimer: The views and opinions expressed in this publication are those of the authors only and do not 
necessarily reflect the official policy or position of William Howard School.</p>
        </footer>
    </div>
</body>
</html>
