<!DOCTYPE html>
<html>
<head>
    @{
        if(ViewBag.Title != null){    
            <title>theREVIEW &bull; @ViewBag.Title</title>
        }else{
            <title>theREVIEW</title>
        }
    }
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/Favicon.ico")" />
    @Html.Partial("_AnalyticsJS")
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    @if (ViewBag.ImageBorderColor != null)
    {    
        <style type="text/css">
            .article-content img{
                border: 6px solid #@ViewBag.ImageBorderColor;
            }
        </style>
    }
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12 header"><a href="@Url.Action("Index", "Home", new { area = "" })"><h1><span style="color: #C4BC96;">the</span>REVIEW</h1><h2>| A Sixth Form Publication</h2></a></div>
        </div>
        <div class="row">
            <div class="span12 menu">
                <ul>
                    <li style="color: #948A54;"><a href="@Url.Action("Index", "Home", new { area = "" })">Home</a></li>
                    <li class="separator">|</li>
                    <li style="color: #F3B32B;"><a href="@Url.Action("GetCategory", new { Controller="Home", area="", id="World-News" })">World News</a></li>
                    <li class="separator">|</li>
                    <li style="color: #DA9349;"><a href="@Url.Action("GetCategory", new { Controller="Home", area="", id="Student-News" })">Student News</a></li>
                    <li class="separator">|</li>
                    <li style="color: #8AA359;"><a href="@Url.Action("GetCategory", new { Controller="Home", area="", id="Science/Tech" })">Science/Tech</a></li>
                    <li class="separator">|</li>
                    <li style="color: #0B76C2;"><a href="@Url.Action("GetCategory", new { Controller="Home", area="", id="Media" })">Media</a></li>
                    <li class="separator">|</li>
                    <li style="color: #FF5250;"><a href="@Url.Action("GetCategory", new { Controller="Home", area="", id="Sport" })">Sport</a></li>
                    <li class="separator">|</li>
                    <li style="color: #FF36FF;"><a href="@Url.Action("GetCategory", new { Controller="Home", area="", id="Fashion" })">Fashion</a></li>
                    <li class="separator">|</li>
                    <li style="color: #A11CFF;"><a href="@Url.Action("GetCategory", new { Controller="Home", area="", id="Creative" })">Creative</a></li>
                    <li class="separator">|</li>
                    <li><a href="@Url.Action("GetCategory", new { Controller="Home", area="", id="Misc" })">Misc</a></li>
                    <li class="separator">|</li>
                    <li><a href="@Url.Action("About", new { Controller="Home", area="" })">About Us</a></li>
                </ul>
            </div>
        </div>
            @RenderBody()
        <hr />
        <footer>
            <div class="pull-right footerRightText">
            <p><a href="mailto:thewhsreview@gmail.com">Contact Us.</a></p>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <p>
                        Logged in as @User.Identity.Name (@Html.ActionLink("Site Admin", "Index", new { controller = "Admin", area = "Admin" }) | 
                        @Html.ActionLink("Logout", "LogOut", new { controller = "Account" }))
                    </p>
                }
            }
            </div>
@*            <ul>
                <li class="header">Menu</li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <ul>
                <li class="header">Menu</li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>*@
        </footer>
    </div>
</body>
</html>
