@model Review_Site.Data.Models.Article
<ul class="side-nav">
    <li class="divider"></li>
    <li class="nav-header">Latest Articles by <em>@Model.Author.FullName</em></li>
    @foreach (var authorArticle in Model.Author.Articles.OrderByDescending(x => x.Created).Take(3))
    {
        <li>@Html.ActionLink(authorArticle.Title, "GetArticle", new { id = authorArticle.ID, controller = "Core" })</li>
    }

    @if (Model.Category != null)
    {
        <li class="divider"></li>
        <li class="nav-header">Latest Articles in <em>@Model.Category.Title</em></li>
        foreach (var latestArticle in Model.Category.Articles.OrderByDescending(x => x.Created).Take(3))
        {
            <li>@Html.ActionLink(latestArticle.Title, "GetArticle", new { id = latestArticle.ID, controller = "Core" })</li>
        }
    }
    @if (Model.Tags != null && Model.Tags.Any())
    {
        <li class="divider"></li>
        <li class="nav-header">Tags</li>
        <li>
            @for (var index = 0; index < Model.Tags.Count; index++)
            {
                var tag = Model.Tags[index];
                if (index > 0) {<text>, </text>}
                @Html.ActionLink(tag.Name, "GetTag", new { id = (tag.Name.Contains("-") ? tag.ID.ToString() : tag.Name), controller = "Core" }, new { style = "display: inline; margin:0; padding:0;" })
            }
        </li>
    }
    <li class="divider"></li>
</ul>
